$font-family-sans-serif: "Poppins","Montserrat",sans-serif;
$body-bg: #060505;
$body-color: #ffffff;

// import the functions & variables
@import "../node_modules/bootstrap/scss/_functions";
@import "../node_modules/bootstrap/scss/_variables";

// custom theme colors
$custom-theme-colors: (
  "altlight": #f2ebfa,
  "altdark": #522192
);
// merge the maps to add new theme colors
$theme-colors: map-merge($custom-theme-colors, $theme-colors);
// Import bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";

// Override navbar link colors
.navbar {
    .nav-link {
      color: #878585; // Change the link color to #333
      transition: .3s ease-in-out;
    }
    .nav-link:hover {
      color: #ffff; // Change the link color to red
    }
  }