*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  --gradient-text: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
}
.logo_theme{
  color: #878585;
}
.logo_theme:hover{
 color: #ffff;
}
.navbar{
  box-shadow: 0px 10px 27px -3px rgba(0,0,0,0.1);
}
.navmenu_prolinks{
  padding-left: 4.5rem;
}
body{
  overflow-x: hidden;
}
.gradient-text{
  -webkit-text-fill-color:transparent;
  -webkit-background-clip: text;
   background-image: var(--gradient-text);
}
.word_spacing{
    word-spacing: .2rem;
}
.fw_custom-css{
    font-family: "Montserrat";
}
.fw_secondary_custom-css{
    font-size: 1.6rem;
}
.hr {
  position: relative;
  top: -1rem;
  margin-top: 2rem;
  /* margin-bottom: .9rem; */
  display: flex;
  justify-content: center;
  gap: .6rem;
}

.hr div{
  height: .1px;
  background-color: #9a9999fe;
  width: 10rem;
}
.anchor{
  position: relative;
  top: -8px;
}
.box {
    transition: .5s linear;
    position: relative;
    display: block;
    overflow: hidden;
    padding: 9px 15px;
    text-align: center;
    margin: 0 5px;
    background: transparent;
  }
  
  .box:before {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 4px;
    width: 100%;
    border-bottom: 2px solid transparent;
    border-left: 2px solid transparent;
    box-sizing: border-box;
    transform: translateX(100%);
  }
  
  .box:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    border-top: 2px solid transparent;
    border-right: 2px solid transparent;
    box-sizing: border-box;
    transform: translateX(-100%);
  }
  
  .box:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
  
  .box:hover:before {
    border-color: #262626;
    height: 100%;
    transform: translateX(0);
    transition: .3s transform linear, .3s height linear .3s;
  }
  
  .box:hover:after {
    border-color: #262626;
    height: 100%;
    transform: translateX(0);
    transition: .3s transform linear, .3s height linear .5s;
  }
  .spiral_shape{
    position: absolute;
    left: -6rem;
    z-index: -100;
    /* background-color: #878585; */
    width: 50%;
    opacity: .7;
  }
  .spiral_shape-two{
    position: absolute;
    top: 20rem;
    right: 2rem;
    z-index: -100;
    transform: rotate(185deg);
    /* background-color: #878585; */
    width: 20%;
    opacity: .7;
  }
  @media(max-width: 910px){
    .spiral_shape,
    .spiral_shape-two{
      display: none;
    }
  }
  button.cta-btn {
    font-size: 16px;
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    will-change: box-shadow,transform;
    background: radial-gradient( 100% 100% at 100% 0%, #f49867 0%, #ae67fa 100% );
    box-shadow: 0px 0.01em 0.01em rgb(45 35 66 / 40%), 0px 0.3em 0.7em -0.01em rgb(45 35 66 / 30%), inset 0px -0.01em 0px rgb(58 65 111 / 50%);
    padding: 0 2em;
    border-radius: 0.3em;
    color: #fff;
    height: 2.6em;
    text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
    transition: box-shadow 0.15s ease, transform 0.15s ease;
  }
  
  button.cta-btn:hover {
    box-shadow: 0px 0.1em 0.2em rgb(45 35 66 / 40%), 0px 0.4em 0.7em -0.1em rgb(45 35 66 / 30%), inset 0px -0.3em 0px #f49867;
    transform: translateY(-0.1em);
  }
  
  button.cta-btn:active {
    box-shadow: inset 0px 0.3em 0.6em #f49867;
    transform: translateY(0em);
  }
  .btn--tabs{
    margin-right: .5rem;
  }
  .tabs{
    /* background-color: #FFFFFF; */
    border: 1px solid rgb(209,213,219);
    border-radius: .5rem;
    color: #ae67fa;
    font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: .875rem;
    font-weight: 600;
    line-height: 1.25rem;
    padding: .75rem 1rem;
    text-align: center;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    cursor: pointer;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-select: none;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
  }
  .tabs:hover {
    background-color: #f9fafb;
  }
  
  .tabs:focus {
    outline: 2px solid #f49867;
    outline-offset: 2px;
  }
  
  .tabs:focus-visible {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .custom-list{
    list-style: none;
    gap: 1.4rem;
    flex-wrap: wrap;
  }
.hamburger{
  cursor: pointer;
}
.product-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px,auto));
  gap: 1.5rem;
}
.product-img{
  width: 100%;
  height: auto;
  margin-bottom: 0.5rem;
}
.product-box{
  position: relative;
}
.product-box:hover{
  padding: 5px;
  border: 1px solid var(--gradient-text);
  transition: .4s;
}
.product-title{
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: .5rem;
  text-transform:lowercase;
}
.add-cart{
  position: relative;
  right: 0;
  bottom: 0;
  cursor: pointer;
}
   /* media query */
   @media (max-width: 652px){
    .testbutton{
    width: 180px ;
  }
  }
  /* menu display-none */
/* media query */
@media (max-width: 573px){
  nav div.menu-container,
  .navmenu_prolinks{
  display: none;
}
.small_screen-menu-container{
  width: 100%;
  position: fixed;
  top: 0;
  left: 1000px;
  transition: all 0.7s ease-in-out;
  z-index: 900;
}
.active{
 left: 0;
}
.small-menu{
  background-color: #262626;
  color: #fff;
}
.small-menu ul li{
  padding: 5px 6px 5px 6px;
  margin: 6px;
  border-radius: 10px;
  background-color: #605e5e9e;

}
.active-two{
  transform: translate(0);
}
.img-svg {
  width: 250px;
}

}
/* here */
  .test_secondarybtn{
    background: #ae67fa;
  }
  .testbutton:active {
    box-shadow: -3px 3px 0 0 hsla(0, 0%, 5%);
    top: 3px;
    left: -3px;
    background-color: rgba(13, 13, 13, 0.348);
  }
  
  .testbutton::before {
    content: '';
    position: absolute;
    background: none;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-right: 6px solid #f49867;
    border-left-width: 0;
    top: 0;
    left: -6px;
  }
  
  .testbutton:active::before {
    border: 3px solid transparent;
    border-right: 3px solid #f49867;
  }
  
  .testbutton::after {
    content: '';
    position: absolute;
    background: none;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-top: 6px solid #f49867;
    border-bottom-width: 0;
    bottom: -6px;
    right: 0;
  }
  
  .testbutton:active:after {
    border: 3px solid transparent;
    border-top: 3px solid #f49867;
  }
  .img-logo{
    width: 84px;
    height: auto;
  }
  
  /* Splide-CSS */

  .splide__slide{
    height: 100px;
    border-radius: 10px;
  }

  .splide__track {
    height: 470px;
    border-radius: 10px;
  }
  .thumbnails {
    display: flex;
    margin: 1rem auto 0;
    padding: 0;
    justify-content: center;
  }
  
  
  .thumbnail {
    width: 70px;
    height: 70px;
    overflow: hidden;
    list-style: none;
    margin: 0 0.2rem;
    cursor: pointer;
  }
  
  
  .thumbnail img {
    width: 100%;
    height: auto;
  }
  .thumbnail {
    opacity: 0.3;
  }
  
  .thumbnail.is-active {
    opacity: 1;
  }
  .splide__slide {
    opacity: 0.6;
  }
  
  .splide__slide.is-active {
    opacity: 1;
  }
/*  */
@media (min-width: 573px){
  .small_screen-menu-container{
    display: none;
   }
   .splide__track {
    height: 430px;
  }
  .splide__custom{
    height: 380px;
  }
}
  /* media query */
  @media (min-width: 552px){
 
  .splide__list{
    width: 50%;
  }
  }
 
  .splide__slide img {
    width: 100%;
    height: auto;
    /* object-fit: contain; */
  }
 .wrapper img{
 border-radius: 10px;
 }
 li.img-svg svg{
  width: 100px;
  height: auto;
}